set_io clk_i pad_fpga_io[0]
set_io reset_i pad_fpga_io[1]
set_io gcd_fire_i pad_fpga_io[2]
set_io data_valid_o pad_fpga_io[3]
set_io input_A_i[0] pad_fpga_io[4]
set_io input_A_i[1] pad_fpga_io[5]
set_io input_B_i[0] pad_fpga_io[6]
set_io input_B_i[1] pad_fpga_io[7]
set_io result_o[0] pad_fpga_io[8]
set_io result_o[1] pad_fpga_io[9]